<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "teams" value = "D:\Facultate\AN_2_SEM_1\Metode_Avansate_de_Programare\Laboratoare\Lab7\Proiect\Lab7\Lab7\Resources\Teams.txt"/>
    <add key = "players" value = "D:\Facultate\AN_2_SEM_1\Metode_Avansate_de_Programare\Laboratoare\Lab7\Proiect\Lab7\Lab7\Resources\Players.txt"/>
    <add key = "activeplayers" value = "D:\Facultate\AN_2_SEM_1\Metode_Avansate_de_Programare\Laboratoare\Lab7\Proiect\Lab7\Lab7\Resources\ActivePlayers.txt"/>
    <add key = "games" value = "D:\Facultate\AN_2_SEM_1\Metode_Avansate_de_Programare\Laboratoare\Lab7\Proiect\Lab7\Lab7\Resources\Games.txt"/>
  </appSettings>
</configuration>